

.navbar {
    background-color: transparent !important;
    text-align: center;
    width: 100vw;
    margin: 0 2px!important;
    padding: 0;
    position:relative;
}   

    .navbar > a {
        color: white !important;
        font: bold;
    }
    .nav-item > a:hover{
        color:blue!important;
    }
.nav-item > a:active {
    background: #693dcc;
    color: #fff !important;
}
    .navbar-toggler {
            background-color: transparent !important;
            padding-left:-50px!important;
        }


.nav-item > a {
    color: black !important;
    text-decoration: solid !important;
    font-size: 25px !important;
    font: bold !important;
    display: flex!important;
    justify-content: space-around!important;
    margin: 0 15px !important;
    padding-left: 50px!important;
}

.navbar-brand {
    color: black !important;
    padding-top: 25px;
    font-style: italic;
}

html {
    min-height: 100%;
}

#target {
    background-color: white
}

#main {
    width: 100%;
    height: 100%;
    display: block;
}



#home {
    position: fixed;
    height: 100%;
    width: 100vw;
    position: relative;
    width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
}

img {
    position: relative;
}

@media(max-width:575.98px) {
    #pic {
        height: 100vh;
    }
}

@media(min-width:576px) and (max-width:767.98px) {
    #pic {
        height: 100vh;
    }
    .nav{
        height:20px!important;
    }
}

@media(min-width:768px) and (max-width:991.98px) {
    #pic {
        height: 100vh;
    }
}

@media(min-width:992px) and (max-width:1199.98px) {
    #pic {
        height: 100vh;
    }
}

@media(min-width:1200px) {
    #pic {
        height: 100vh;
    }
}
