@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <app-login></app-login>
    <script type="text/javascript">
        $.ajaxSetup({
            beforeSend: function () {
                $('#loader').show();
            },
            complete: function () {
                $('#loader').hide();

            }
        });
    </script>

</body>
</html>
