.container-fluid {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../../../content/GoldenHall.jpg') center center;
    position:absolute;
    background-size: 100%;
    padding: 0;
    margin: 0;
    height: 200vh;
    width: 100vw;
    background-repeat:repeat;
    margin-top:0px;
    overflow-y:hidden!important;

}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.left,.right{
    width:50%;
    float:left;
}
.left{text-align:left; padding-right:50px;}
.right{text-align:left;}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#hallname, #password, #email, #price, #description, #confirmpassword, #picture, #location, #purpose {
    color: white;
    font-size: large;
}

#alll {
    margin-top: 3%;
    margin-left: 20%;
}
#all {
    margin-left: 5%;
}
@media only screen and (max-width:760px) {
    #all {
        margin-left: 2%;
        margin-top: 20%;
    }
}
